body {
  
  background-color:  rgb(141, 9, 9);
  
}

#console_credenziali{
  background-color: orange;
  margin: auto;
  color: white;
  margin-top: 50px;
  padding: 25px;
  width: 750px;
}



h1{
margin-bottom: 25px;
text-align: center;
color: white;
}

#navbar{
  color: yellow;
  color:  rgb(141, 9, 9);
  background-color: orange;
  margin: 0px !important; 
}

#navbar_link{
  color:  rgb(141, 9, 9);
  background-color: orange;
}

#navbar_title{
  color:  rgb(141, 9, 9);
  background-color: orange;
}

